/*Telerik RadCalendar Black skin*/

table.RadCalendar_Black
{
	border-collapse:separate;
	border:0;
	background:#313131;
	font:11px "segoe ui",arial,sans-serif;
	width:200px;
}

/*titlebar*/

.RadCalendar_Black .rcTitlebar
{
	width:100%;
	border:1px solid #121212;
	padding:0;
	background:#202020 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#006a96;
}

.RadCalendar_Black .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:1px solid;
	border-color:#383838 #383838 #252525;
	font:14px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_Black .rcTitlebar td
{
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Black .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Black .rcTitlebar .rcPrev,
.RadCalendar_Black .rcTitlebar .rcNext,
.RadCalendar_Black .rcTitlebar .rcFastPrev,
.RadCalendar_Black .rcTitlebar .rcFastNext
{
	display:block;
	width:11px;
	height:13px;
	overflow:hidden;
	margin:0 3px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-decoration:none;
	color:#666;
}

.RadCalendar_Black .rcTitlebar .rcPrev
{
	background-position:4px -47px;
}

.RadCalendar_Black .rcTitlebar .rcNext
{
	background-position:4px -97px;
}

.RadCalendar_Black .rcTitlebar .rcFastPrev
{
	margin-left:5px;
	background-position:2px 3px;
}

.RadCalendar_Black .rcTitlebar .rcFastNext
{
	margin-right:5px;
	background-position:2px -147px;
}

.RadCalendar_Black .rcMain
{
	width:100%;
	border:1px solid #1c1c1c;
	border-top:0;
	padding:0;
}

.RadCalendar_Black .rcMainTable
{
	border-collapse:separate;
	border:1px solid #383838 !important;
	border-top:0 !important;
	width:100%;
	font:11px/16px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Black .rcHeader,
.RadCalendar_Black .rcFooter
{
	border:1px solid #1c1c1c;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Black .rcRow th,
.RadCalendar_Black .rcWeek th
{
	border:0;
	padding:0;
	background:#222;
	color:#9f9f9f;
	font-weight:normal;
	cursor:default;
}

.RadCalendar_Black .rcWeek th
{
	border-top:1px solid #262626;
	border-bottom:1px solid #181818;
	padding:0 5px 3px 4px;
	text-align:right;
}

.RadCalendar_Black .rcRow th,
.RadCalendar_Black .rcRow td
{
	vertical-align:middle;
}

.RadCalendar_Black .rcRow th
{
	border-right:1px solid #181818;
}

.RadCalendar_Black .rcWeek .rcViewSel,
.RadCalendar_Black .rcRow th
{
	width:16px;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
}

/*date cells*/

.RadCalendar_Black .rcRow td
{
	border:1px solid #313131;
	padding:0;
	text-align:right;
}

.RadCalendar_Black .rcMain .rcRow a,
.RadCalendar_Black .rcMain .rcRow span
{
	display:block;
	padding:1px 4px 1px 3px;
	text-decoration:none;
	color:#9f9f9f;
}

.RadCalendar_Black .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_Black .rcRow .rcToday
{
	border-color:#525252;
}

.RadCalendar_Black .rcMain .rcRow .rcToday a
{
	color:#fff;
}

.RadCalendar_Black .rcMain .rcOtherMonth a
{
	color:#474747;
}

.RadCalendar_Black .rcMain .rcOutOfRange span
{
	color:#474747;
	cursor:default;
}

.RadCalendar_Black .rcRow .rcHover
{
	border-color:#3d3d3d;
	background:#3d3d3d;
}

.RadCalendar_Black .rcMain .rcRow .rcHover a
{
	color:#fff;
}

.RadCalendar_Black .rcRow .rcSelected
{
	border-color:#222;
	background:#343434 url('Calendar/sprite.gif') 0 -700px repeat-x;
}

.RadCalendar_Black .rcMain .rcRow .rcSelected a
{
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Black
{
	width:auto;
	border:1px solid #3a3a3a !important;
}

.RadCalendarMultiView_Black .rcMainTable
{
	border:0 !important;
}

.RadCalendarMultiView_Black .rcTitlebar
{
	border-bottom:0;
	background:#404040 url('Calendar/sprite.gif') 0 -900px repeat-x;
	color:#9f9f9f;
}

.RadCalendarMultiView_Black .rcTitlebar table
{
	border:0;
	line-height:26px;
}

.RadCalendarMultiView_Black .rcTitlebar table td
{
	padding-bottom:1px;
}

.RadCalendarMultiView_Black .rcTitlebar .rcPrev
{
	background-position:4px -1047px;
}

.RadCalendarMultiView_Black .rcTitlebar .rcNext
{
	background-position:4px -1097px;
}

.RadCalendarMultiView_Black .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:2px -997px;
}

.RadCalendarMultiView_Black .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:2px -1147px;
}

.RadCalendarMultiView_Black .rcCalendar
{
	width:200px;
	border:0;
	border-left:1px solid #1c1c1c;
	border-right:1px solid #1c1c1c;
	padding:0;
}

.RadCalendarMultiView_Black .rcFirstCol
{
	border-left:0;
}

.RadCalendarMultiView_Black .rcLastCol
{
	border-right:0;
}

.RadCalendarMultiView_Black .rcMainTable .rcTitle
{
	border:1px solid #121212;
	border-left:0;
	border-right:0;
	padding:0 0 2px;
	background:#202020 url('Calendar/sprite.gif') 0 -500px repeat-x;
	font:14px/24px "segoe ui",arial,sans-serif;
	color:#006a96;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Black
{
	border-collapse:separate;
	border:1px solid #1c1c1c;
	background:#383838;
	font:10px verdana,sans-serif;
	color:#9f9f9f;
}

.RadCalendarMonthView_Black td
{
	border:0;
	padding:2px;
}

.RadCalendarMonthView_Black #rcMView_Feb,
.RadCalendarMonthView_Black #rcMView_Apr,
.RadCalendarMonthView_Black #rcMView_Jun,
.RadCalendarMonthView_Black #rcMView_Aug,
.RadCalendarMonthView_Black #rcMView_Oct,
.RadCalendarMonthView_Black #rcMView_Dec
{
	padding-right:4px;
	background:url('Calendar/sprite.gif') 100% -1250px no-repeat;
}

.RadCalendarMonthView_Black a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#9f9f9f;
}

.RadCalendarMonthView_Black .rcHover a
{
	background:#3d3d3d;
}

.RadCalendarMonthView_Black .rcSelected a
{
	border:1px solid #222;
	padding:1px 3px;
	background:#343434 url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarMonthView_Black .rcButtons
{
	border:0;
	border-top:1px solid #181818;
	padding:4px 7px;
	background:#222;
	text-align:center;
}

.RadCalendarMonthView_Black input
{
	border:1px solid #121212;
	padding:0;
	background:#1f1f1f url('Calendar/sprite.gif') 0 -800px repeat-x;
	color:#d9d9d9;
	font:10px verdana,arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Black #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Black #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Black
{
	border-collapse:separate;
	border:1px solid #1c1c1c;
	background:#383838;
	font:11px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Black th
{
	border:0;
	border-top:1px solid #262626;
	border-bottom:1px solid #1b1b1b;
	padding:0 0 2px;
	background:#222;
	color:#006a96;
	font:11px/23px "segoe ui",arial,sans-serif;
	text-align:center;
	cursor:default;
}

.RadCalendarTimeView_Black td
{
	border:0;
	border-left:1px solid #222;
	border-right:1px solid #434343;
	padding:0;
}

.RadCalendarTimeView_Black td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Black a
{
	display:block;
	padding:6px 7px;
	text-align:center;
	color:#9f9f9f;
	text-decoration:none;
}

.RadCalendarTimeView_Black td.rcHover a
{
	background:#3d3d3d;
	color:#fff;
}

.RadCalendarTimeView_Black td.rcSelected a
{
	border:1px solid #222;
	padding:4px 6px;
	background:#343434 url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarTimeView_Black .rcFooter
{
	border:0;
	border-top:1px solid #222;
	padding:0;
}

/*pickers*/

.RadPicker_Black
{
	vertical-align:middle;
}

.RadPicker_Black table.rcTable,
.RadPicker_Black table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Black td
{
	vertical-align:middle;
}

.RadPicker_Black table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Black td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Black td a{position:static}/*IE6*/
*+html .RadPicker_Black td a{position:static}/*IE7*/

.RadPicker_Black .rcCalPopup,
.RadPicker_Black .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:16px;
	height:16px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Black .rcCalPopup,
.RadPicker_Black .rcDisabled.rcCalPopup:hover
{
	background-position:0 -200px;
}

.RadPicker_Black .rcCalPopup:hover
{
	background-position:0 -250px;
}

.RadPicker_Black .rcTimePopup,
.RadPicker_Black .rcDisabled.rcTimePopup:hover
{
	background-position:0 -300px;
}

.RadPicker_Black .rcTimePopup:hover
{
	background-position:0 -350px;
}

.RadPicker_Black .rcDisabled,
.RadCalendarMonthView_Black .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Black .rcTitlebar table
{
	direction:ltr;
}

.RadCalendarRTL_Black .rcTitle
{
	direction:rtl;
}