<?xml version="1.0" encoding="utf-8"?>
<modulePageInfo>

	<pageInfo key="NewsControl" pageName="NewsControl.ascx" desc="NewsControl page" />
  <pageInfo key="NewsList" pageName="NewsList.ascx" desc="NewsList page" />
  <pageInfo key="CategoryInfo" pageName="CategoryInfo.ascx" desc="CategoryInfo all page" />
  <pageInfo key="CategoryInfo01" pageName="CategoryInfo01.ascx" desc="CategoryInfo single page" />
  <pageInfo key="CategoryInfo02" pageName="CategoryInfo02.ascx" desc="CategoryInfo list page" />
  <pageInfo key="NewsEntry" pageName="NewsEntry.ascx" desc="NewsEntry page" />
  <pageInfo key="NewsSource" pageName="NewsSource.ascx" desc="NewsSource page" />
  <pageInfo key="PopupImgList" pageName="PopupImgList.ascx" desc="PopupImgList page" />
  <pageInfo key="CategoryInfo_Pages" pageName="CategoryInfo_Pages.ascx" desc="" />

</modulePageInfo>
