<?xml version="1.0" encoding="utf-8"?>
<modulePageInfo>

	<pageInfo key="UserControl" pageName="UserControl.ascx" desc="Control page" />
	<pageInfo key="UserInfo" pageName="UserInfo.ascx" desc="User Info" />
	<pageInfo key="UserView" pageName="UserView.ascx" desc="User Info" />
	<pageInfo key="PollMng" pageName="PollMng.ascx" desc="Poll Info" />
	<pageInfo key="WebLink" pageName="WebLink.ascx" desc="WebLink Info" />
	<pageInfo key="BannerAdvMng" pageName="BannerAdvMng.ascx" desc="BannerAdv Manage" />
	<pageInfo key="FileMng" pageName="FileMng.ascx" desc="File Manage" />
	<pageInfo key="MenuAdminMng" pageName="MenuAdminMng.ascx" desc="Menu Admin Manage" />
  <pageInfo key="FileUploadMng" pageName="FileUploadMng.ascx" desc="Menu Admin Manage" />
  <pageInfo key="TypeMng" pageName="TypeMng.ascx" desc="Menu Admin Manage" />
  <pageInfo key="UserDetailMng" pageName="UserDetailMng.ascx" desc="Admin Manage" />
  <pageInfo key="NewsLetter" pageName="NewsLetter.ascx" desc="NewsLetter" />
  <pageInfo key="Comment" pageName="Comment.ascx" desc="Comment" />
  <pageInfo key="Area" pageName="AreaMng.ascx" desc="Area" />
  <pageInfo key="Territory" pageName="TerritoryMng.ascx" desc="Territory" />
  <pageInfo key="MnSeoList" pageName="MnSeoList.ascx" desc="MnSeoList" />
  <pageInfo key="UserMapLink" pageName="UserMapLink.ascx" desc="UserMapLink" />
  <pageInfo key="MenuMng" pageName="MenuMng.ascx" desc="" />
  <pageInfo key="SendMail" pageName="SendMail.ascx" desc="Send mail" />
  <pageInfo key="ValueofLevel" pageName="ValueofLevelMng.ascx" desc="ValueofLevel" />
  <pageInfo key="MacongviecMng" pageName="MacongviecMng.ascx" desc="MacongviecMng" />
  <pageInfo key="UserTableWork" pageName="UserTableWork.ascx" desc="UserTableWork" />
  <pageInfo key="PoinKm" pageName="PoinKm.ascx" desc="PoinKm" />
  <pageInfo key="PoinKmMng" pageName="PoinKmMng.ascx" desc="PoinKmMng" />
  <pageInfo key="PhongBanMng" pageName="PhongBanMng.ascx" desc="PhongBanMng" />
  <pageInfo key="NguonTuyenDungMng" pageName="NguonTuyenDungMng.ascx" desc="NguonTuyenDungMng" />
</modulePageInfo>
