<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="connectionString" value="Data Source=192.168.117.111;Initial Catalog=EmployeeData; Connection Timeout=3600; User ID=sa;Password=123456;"/>
    <!--<add key="DomainKey" value="pJnEXnOkuwDOQhvrz0zePA=="/>-->
    <add key="ModulesDir" value="~/modules/"/>
    <add key="LangID" value="1"/>
    <add key="baotri" value="0"/>
    <add key="Color_Img" value="#fff"/>
    <add key="UserImagePath" value="UserFile\Users\"/>
    <add key="ImageIconPath" value="UserFile\ImgICon\"/>
    <add key="HTTPServer" value="/#"/>
    <add key="HTTPServer01" value="/#"/>
    <add key="LanguageImagePath" value="UserFile\LanguageIcon\"/>
    <add key="NewsImagePath" value="UserFile\News\Main\"/>
    <add key="NewsCategoryImagePath" value="UserFile\News\Category\"/>
    <add key="SubNewsImagePath" value="UserFile\News\Sub\"/>
    <add key="BannerImagePath" value="UserFile\BannerAdv\"/>
    <add key="FileManagerPath" value="UserFile\editor"/>
    <add key="CartImagePath" value="UserFile\Products\"/>
    <add key="LogoImagePath" value=""/>
    <add key="UserImageSize" value="200,220,250,270,0,500"/>
    <add key="LinkUrl" value="/thong-tin/"/>
    <add key="LinkUrlFile" value="/downloadfile/"/>
    <add key="PathFileUpload" value="UserFile\FileUpload\"/>
    <add key="EmailToHCNS" value="hoangnhan6879@gmail.com"/>
    <add key="EmailTo" value="hoangnhan6879@gmail.com"/>
    <add key="AdminEmailCC" value=""/>
    <add key="AdminEmailTo" value="nghiphep@nguyenkimvn.vn"/>
    <add key="AdminPass" value="12345678"/>
    <add key="MailHost" value="192.168.117.200"/>
    <add key="PortMailHost" value="25"/>
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.117.111;Initial Catalog=EmployeeData;User ID=sa;Password=123456"/>
    <add name="WebCus" connectionString="Data Source=192.168.117.111;Initial Catalog=EmployeeData;Persist Security Info=True;User ID=sa;Password=123456;pooling=false;enlist=false;" providerName="System.Data.SqlClient"/>
    <add name="PQT" connectionString="Data Source=192.168.117.111;Initial Catalog=EmployeeData;Persist Security Info=True;User ID=sa;Password=123456;pooling=false;enlist=false;" providerName="System.Data.SqlClient"/>
    <add name="PQTEntities" connectionString="metadata=res://*/PQTModel.csdl|res://*/PQTModel.ssdl|res://*/PQTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.117.111;Initial Catalog=EmployeeData;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>

    <add name="PQT.DAC.Properties.Settings.Quanlynhansu_nkcn_2018ConnectionString" connectionString="Data Source=192.168.117.111;Initial Catalog=EmployeeData;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <identity impersonate="false"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="36000"/>
    <globalization fileEncoding="utf-8" culture="vi-VN"/>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
  </system.web>
  <location path="ExportExcel.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <system.webServer>
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>-->
    <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
        <!-- <add value="inoutchecker.aspx"/>-->
        <!--<add value="baotri.html"/>-->
      </files>
    </defaultDocument>
    <!--<rewrite>
            <rules>
                <rule name="remove www." stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.(.*)" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{URL}" />
                </rule>
            </rules>
        </rewrite>-->
    <!--<handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>