/*Telerik RadCalendar Sunset skin*/

table.RadCalendar_Sunset
{
	border-collapse:separate;
	border:0;
	background:#f4ede1;
	font:11px arial,tahoma,sans-serif;
	width:224px;
}

/*titlebar*/

.RadCalendar_Sunset .rcTitlebar
{
	width:100%;
	border:1px solid #8c664f;
	padding:0;
	background:#b25327 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#fff;
}

.RadCalendar_Sunset .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	border-bottom:1px solid #bb5212;
	font:13px/29px arial,tahoma,sans-serif;
}

.RadCalendar_Sunset .rcTitlebar td
{
	border:0;
	border-bottom:1px solid #b1572d;
	padding:1px 0 0;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Sunset .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Sunset .rcTitlebar .rcPrev,
.RadCalendar_Sunset .rcTitlebar .rcNext,
.RadCalendar_Sunset .rcTitlebar .rcFastPrev,
.RadCalendar_Sunset .rcTitlebar .rcFastNext
{
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	margin:0 3px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Sunset .rcTitlebar .rcPrev
{
	background-position:3px -48px;
}

.RadCalendar_Sunset .rcTitlebar .rcNext
{
	background-position:4px -98px;
}

.RadCalendar_Sunset .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:2px 2px;
}

.RadCalendar_Sunset .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:2px -148px;
}

.RadCalendar_Sunset .rcMain
{
	width:100%;
	border:1px solid #cbbda9;
	border-top:0;
	padding:0;
}

.RadCalendar_Sunset .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:90%;
	margin:6px 12px 5px 10px;
	font:11px/16px arial,tahoma,sans-serif;
}

/*header, footer*/

.RadCalendar_Sunset .rcHeader,
.RadCalendar_Sunset .rcFooter
{
	border:1px solid #cbbda9;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Sunset .rcRow th,
.RadCalendar_Sunset .rcWeek th
{
	border:0;
	padding:0 6px;
	color:#a43a00;
	font-weight:normal;
	cursor:default;
}

.RadCalendar_Sunset .rcWeek th
{
	border-bottom:1px solid #c4b7a2;
	padding-top:4px;
	padding-bottom:3px;
	text-align:right;
}

.RadCalendar_Sunset .rcRow th,
.RadCalendar_Sunset .rcRow td
{
	vertical-align:middle;
}

.RadCalendar_Sunset .rcWeek .rcViewSel,
.RadCalendar_Sunset .rcRow th
{
	width:14px;
	padding-left:4px;
	text-align:center;
}

/*date cells*/

.RadCalendar_Sunset .rcRow td
{
	border:1px solid #f4ede1;
	padding:0;
	text-align:right;
}

.RadCalendar_Sunset .rcMain .rcRow a,
.RadCalendar_Sunset .rcMain .rcRow span
{
	display:block;
	padding:1px 5px;
	text-decoration:none;
	color:#272522;
}

.RadCalendar_Sunset .rcMain .rcWeekend a
{
	color:#757566;
}

.RadCalendar_Sunset .rcRow .rcToday
{
	background:#fff;
	border-color:#bdab92;
}

.RadCalendar_Sunset .rcMain .rcOtherMonth a
{
	color:#9d9a87;
}

.RadCalendar_Sunset .rcMain .rcOutOfRange span
{
	color:#9d9a87;
	cursor:default;
}

.RadCalendar_Sunset .rcRow .rcHover
{
	border-color:#de9700;
	background:#ffa630 url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendar_Sunset .rcRow .rcSelected
{
	border-color:#796f61 #63594c #483e32;
	background:#6b655e url('Calendar/sprite.gif') 0 -700px repeat-x;
}

.RadCalendar_Sunset .rcMain .rcRow .rcSelected a
{
	border:1px solid;
	border-color:#b2a798 #9a9184 #7c756b;
	padding:0 4px;
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Sunset
{
	width:auto;
}

.RadCalendarMultiView_Sunset .rcCalendar
{
	width:224px;
	border:0;
	border-right:1px solid #c4b7a2;
	padding:0;
}

.RadCalendarMultiView_Sunset .rcLastCol
{
	border-right:0;
}

.RadCalendarMultiView_Sunset .rcCalendars .rcMainTable
{
	width:100%;
	margin:0;
}

.RadCalendarMultiView_Sunset .rcCalendars .rcMainTable .rcMainTable
{
	width:90%;
	margin:3px 6px 3px;
}

.RadCalendarMultiView_Sunset .rcCalendars .rcFirstRow .rcMainTable
{
	margin-top:4px;
}

.RadCalendarMultiView_Sunset .rcCalendars .rcLastRow .rcMainTable
{
	margin-bottom:5px;
}

.RadCalendarMultiView_Sunset .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c4b7a2;
	padding:1px 0 0;
	font:13px/27px arial,tahoma,sans-serif;
	color:#a43a00;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Sunset
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:10px verdana,tahoma,sans-serif;
	color:#272522;
}

.RadCalendarMonthView_Sunset td
{
	border:0;
	padding:2px;
}

.RadCalendarMonthView_Sunset #rcMView_Feb,
.RadCalendarMonthView_Sunset #rcMView_Apr,
.RadCalendarMonthView_Sunset #rcMView_Jun,
.RadCalendarMonthView_Sunset #rcMView_Aug,
.RadCalendarMonthView_Sunset #rcMView_Oct,
.RadCalendarMonthView_Sunset #rcMView_Dec
{
	border-right:1px solid #cbbda9;
}

.RadCalendarMonthView_Sunset a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#707070;
}

.RadCalendarMonthView_Sunset .rcHover a
{
	border:1px solid #de9700;
	padding:1px 3px;
	background:#ffa630 url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendarMonthView_Sunset .rcSelected a
{
	border:1px solid;
	border-color:#796f61 #63594c #483e32;
	padding:1px 3px;
	background:#6b655e url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarMonthView_Sunset .rcButtons
{
	border:0;
	border-top:1px solid #cbbda9;
	padding:0.5em 0.6em;
	background:#f3f3e2;
	text-align:center;
}

.RadCalendarMonthView_Sunset input
{
	border:1px solid;
	border-color:#bd4c04 #ac4601 #973f00;
	padding:0;
	background:#ba4f00 url('Calendar/sprite.gif') 0 -800px repeat-x;
	color:#fff;
	font:10px verdana,arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Sunset #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Sunset #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Sunset
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:11px arial,tahoma,sans-serif;
	color:#272522;
}

.RadCalendarTimeView_Sunset th
{
	border:0;
	border-bottom:1px solid #b1572d;
	padding:0 0 1px;
	background:#b25327 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#fff;
	font:13px/31px arial,tahoma,sans-serif;
	text-align:center;
	cursor:default;
}

.RadCalendarTimeView_Sunset td
{
	border:0;
	border-left:1px solid #cbbda9;
	padding:1px 2px;
}

.RadCalendarTimeView_Sunset td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Sunset a
{
	display:block;
	padding:5px 7px;
	text-align:center;
	color:#272522;
	text-decoration:none;
}

.RadCalendarTimeView_Sunset td.rcHover a
{
	border:1px solid #de9700;
	padding:4px 6px;
	background:#ffa630 url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendarTimeView_Sunset td.rcSelected a
{
	border:1px solid;
	border-color:#796f61 #63594c #483e32;
	padding:4px 6px;
	background:#6b655e url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarTimeView_Sunset .rcFooter
{
	border:0;
	border-top:1px solid #cbbda9;
	padding:0;
}

/*pickers*/

.RadPicker_Sunset
{
	vertical-align:middle;
}

.RadPicker_Sunset table.rcTable,
.RadPicker_Sunset table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Sunset td
{
	vertical-align:middle;
}

.RadPicker_Sunset table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Sunset td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Sunset td a{position:static}/*IE6*/
*+html .RadPicker_Sunset td a{position:static}/*IE7*/

.RadPicker_Sunset .rcCalPopup,
.RadPicker_Sunset .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:16px;
	height:16px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Sunset .rcCalPopup,
.RadPicker_Sunset .rcDisabled.rcCalPopup:hover
{
	background-position:0 -200px;
}

.RadPicker_Sunset .rcCalPopup:hover
{
	background-position:0 -250px;
}

.RadPicker_Sunset .rcTimePopup,
.RadPicker_Sunset .rcDisabled.rcTimePopup:hover
{
	background-position:0 -300px;
}

.RadPicker_Sunset .rcTimePopup:hover
{
	background-position:0 -350px;
}

.RadPicker_Sunset .rcDisabled,
.RadCalendarMonthView_Sunset .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Sunset .rcTitlebar table
{
	direction:ltr;
}

.RadCalendarRTL_Sunset .rcTitle
{
	direction:rtl;
}