<?xml version="1.0" encoding="utf-8" ?>
<language>
<!-- page -->
  <word ref="lngNights" value="night(s)" />
  <word ref="lngDays" value="day(s)" />
  <word ref="lngCustomerInfo" value="Customer infomation" />
  <word ref="lngConfirmInfo" value="Confirm information" />
  <word ref="lngChangePass" value="Change Password" />
  <word ref="lngHistoryOrder" value="History Order" />
  <word ref="lngYourOrder" value="Your Order" />
  <word ref="lngOrderEmpty" value="Your Order is Empty" />
  <word ref="lngTotalAmountOrder" value="Total" />
  <word ref="lngOrderID" value="Order ID" />
  <word ref="lngRecevie" value="Recevie/Phone/Address" />
  <word ref="lngStatus" value="Status" />
  <word ref="lngPaymentMethod" value="Payment Method" />
  <word ref="lngDateBought" value="Date Bought" />

  <word ref="lngRegAcc" value="Register Account" />
  
  <word ref="lngLostPass" value="Lost Password" />
  <word ref="lngCodeSecret" value="Verify Code" />

  <word ref="lngWrongPass" value="Password incorrect" />
  <word ref="lngPass" value="Password" />
  <word ref="lngUserNotReg" value="user does not have verify yet" />
  <word ref="lngUserNameInvalid" value="Username does not exist" />
  <word ref="lngOldPass" value="Old Password" />
  <word ref="lngNewPass" value="New Password" />
  <word ref="lngHasAccount" value="Have an Account?" />
  <word ref="lngNotHasAccount" value="Not have an Account?" />
  <word ref="lngRegAccount" value="Regis Account" />
  <word ref="lngMsgthanksemail" value="Success !" />
  <word ref="lngMenuNewsbest" value="Top News" />
  <word ref="lngaboutus" value="About Us" />
  <word ref="lngtype" value="Type" />
  <word ref="lngmaterial" value="Material" />
  <word ref="lngformcontacts" value="Send request" />
  <word ref="lngShowall" value="Show all" />
  <word ref="lngMenuHome" value="Home" />
  <word ref="lngMenuLinhVuc" value="Field operations" />
  <word ref="lngDatePosted" value="Date posted" />
  <word ref="lngMenuTypicalProduct" value="Typical products" />
  <word ref="lngMenuEquipment" value="Equipment" />
  <word ref="lngAddToCart" value="Add to cart" />
<word ref="lngAgent" value="Agency" />
<word ref="lngThongSo" value="Specifications" />
<word ref="lngShow" value="Show" />
<word ref="lngHide" value="Hide" />
<word ref="lngMenuAbout" value="About Us" />
<word ref="lngMenuWorks" value="Works" />
<word ref="lngMenuDichVu" value="SERVICES" />
<word ref="lngProject" value="Projects" />
<word ref="lngMenuProduct" value="Products" />
<word ref="lngRelatedProducts" value="Related Products" />
<word ref="lngMenuLanguage" value="Language" />
<word ref="lngTechnicalCorner" value="Technical corner" />
<word ref="lngMenuNews" value="News" />
<word ref="lngMenuDistributionSystem" value="Distribution system" />
<word ref="lngCty" value="City" />
<word ref="lngCountry" value="Country" />
<word ref="lngMenuContact" value="Contact" />
<word ref="lngContactUS" value="Contact us" />
<word ref="lngListProduct" value="Product category" />
<word ref="lngNewProduct" value="New product" />
<word ref="lngPartners" value="Clients" />
<word ref="lngProjectFeatured" value="Featured Projects" />
<word ref="lngPriceCall" value="Call" />
<word ref="lngProductDetail" value="Product Detail" />
<word ref="lngProductCode" value="Product code" />
<word ref="lngProductSize" value="Size" />
<word ref="lngPriceEN" value="Price" />
<word ref="lngProductDescription" value="Description" />
<word ref="lngDetail" value="Detail" />
<word ref="lngOrder" value="Order" />
<word ref="lngotherproducts" value="Other products" />
<word ref="lngCart" value="Shopping Basket" />
<word ref="lngCartPayment" value="Payment" />
<word ref="lngBuy" value="Buy" />
<word ref="lngSend" value="Send" />
  <word ref="lngPriceOld" value="Old Price" />
  <word ref="lngSocialNetworks" value="Social Networks" />
  <word ref="lngHealthHandbook" value="Health handbook" />
  <word ref="lngSendQuestions" value="Send questions" />
  <word ref="lngShowAnswer" value="Show answer" />
  <word ref="lngClose" value="Close" />
  <word ref="lngQuyCach" value="Specifications" />
  <word ref="lngPersonnelPolicy" value="Personnel policy" />
  <word ref="lngRecruitmentProcess" value="Recruitment process" />
  <word ref="lngRecruitmentInfo" value="Recruitment information" />
  <word ref="lngNoteNewsletter" value="Register to receive health information" />
  <word ref="lngInfoAgentIn" value="Information agents in" />
<!-- -->
<word ref="lngUniquePro" value="Unique products" />
<!-- -->
<word ref="lngProDetail" value="Product description" />
  <word ref="lngNoiTro" value="Housewife" />


  <word ref="lngAdminName" value="Consulting division replies to yours" />
<word ref="lngTuVan" value="Consulting" />
<word ref="lngCongTrinhSuDung" value="Paint Kahazafa is using in works" />
<word ref="lngTitleMale" value="Title" />
<word ref="lngMethodContact" value="Preferred Contact Method" />
<word ref="lngPhone" value="Phone" />
<word ref="lngComment02" value="Send your comments" />
<word ref="lngQtrinh" value="View processes and product features"/>
<word ref="lngTraloi" value="Reply" />
<word ref="lngTraloiComment" value="Reply consultant" />
<word ref="lngTraloiNewComment" value="New send your comments" />

<word ref="lngFrom" value="From" />
<word ref="lngSendDate" value="Send date" />

  
  <word ref="lngBusinessMaterial" value="Business material" />
  <word ref="lngCategory" value="Category" />
  
  
  
  <word ref="lngNewsLetter" value="Register newsletter" />
  <word ref="lngViewMore" value="View More" />
  <word ref="lngDeployment" value="News deploy" />
  <word ref="lngTechnology" value="Technology news" />
  <word ref="lngOperation" value="Community activities" />
  <word ref="lngCustomerReview" value="Customer reviews" />
  
  <word ref="lngPriceAppraisal" value="Price appraisal" />
  <word ref="lngYourInfo" value="Your infomation" />
  <word ref="lngYourProduct" value="Your Product" />
  
  
  
  
  
  <word ref="lngProductAvailabity" value="Availabity" />
  <word ref="lngProductReturnsPolicy" value="Returns Policy" />
  <word ref="lngProductWatchfinderWarranty" value="Watchfinder Warranty" />
  <word ref="lngProductRetailPrice" value="Retail Price" />
  
  <word ref="lngProductIDEN" value="Product code" />
  <word ref="lngProductWas" value="Was" />
  <word ref="lngOrderEN" value="Buy now" />
  
  <word ref="lngProductPicture" value="Product Picture" />
  <word ref="lngChooseFile" value="Choose File" />
  <word ref="lngUpload" value="Upload" />
  <word ref="lngMoreInfomation" value="More Infomation" />
  <word ref="lngRefineby" value="Refine by" />
  <word ref="lngShowingItems" value="Showing Items" />
  <word ref="lngOf" value="Trong" />
  <!--menu-->
  <word ref="lngNewsAndEvent" value="News &amp; Event" />
  <word ref="lngInternalNews" value="Internal News" />
  <word ref="lngSpecializedNews" value="Specialized News" />
  <word ref="lngMenuGallery" value="Gallery" />
  
  
  <word ref="lngNotification" value="Notification" />
  
  <word ref="lngPartner" value="Partner" />
  <word ref="lngMenuCareer" value="Career" />
  
  <word ref="lngMenuService" value="Service" />
  <word ref="lngMenuServiceOther" value="Other Service" />
  
  <word ref="lngQualityCertificates" value="Quality Certificates" />
  
  <word ref="lngDetail" value="Read more" />
  <word ref="lngSpecialProduct" value="Special product" />
  
  <word ref="lngMenuSolution" value="Solution" />
  <word ref="lngCustomer" value="Customer" />
  
  <word ref="lngWebLink" value="Web link" />
  <word ref="lngNewsTop" value="Lastest news" />
  <!---->
  <word ref="lngFeaturedNews" value="Featured News" />
  <word ref="lngMenuSupport" value="Support online" />
  <word ref="lngFormContact" value="Contact Form" />
  <word ref="lngProjectOther" value="Other projects" />
  
	<word ref="lngSupport" value="Support" />
	<word ref="lngHotLine" value="Hotlines" />
	
	<word ref="lngMenuDistribution" value="Distribution system" />
	<word ref="lngMenuRepair" value="Maintenance and repair" />
	<word ref="lngMenuCare" value="Customer care" />
	
	<word ref="lngSiteMap" value="Site Map" />
	
	
	
	<word ref="lngSearch" value="Search" />
	<word ref="lngProvince" value="Provinces/Cities" />
  <word ref="lngCode" value="Code" />
  <word ref="lngPricePro" value="Price" />
  <word ref="lngVideo" value="Video Clip" />
  <!---->
  
  <word ref="lngMenu" value="Menu" />
  
  
  <word ref="lngEvent" value="Notices" />
  <word ref="lngSupportCustomer" value="Customer Service" />
  
  <word ref="lngMenuFAQ" value="Community" />
  
  <word ref="lngMenuAboutUs" value="Greetings" />
  <word ref="lngMenuMap" value="Showroom Directions" />
  <word ref="lngHistory" value="History" />
  <word ref="lngBusiness" value="Business Field" />
  <word ref="lngPR" value="P.R" />
  <word ref="lngAD" value="Advertisement" />
  <word ref="lngCatalogue" value="Catalogue" />
  <word ref="lngMaintenance" value="A/S Information &amp; Reception" />
  
  <word ref="lngIntructionOrder" value="Showroom Information &amp; Order" />
  <word ref="lngMenuDownload" value="Download" />
  <word ref="lngSubscribeCatalogue" value="Catalogue Appy" />
  <word ref="lngFAQ" value="Q&amp;A" />
  <word ref="lngComment" value="Content" />
  <word ref="lngHomeInterior" value="Household" />
  <word ref="lngOfficeInterior" value="Office Furniture" />
  
  
  <word ref="lngSupplier" value="Supplier" />
  <!--Contact page-->
  <word ref="lngFullname" value="Full name" />
  <word ref="lngFirstName" value="First name" />
  <word ref="lngLastName" value="Last name" />
  <word ref="lngCompany" value="Company" />
  <word ref="lngTel" value="Tel" />
  <word ref="lngAddress" value="Address" />
  <word ref="lngRemark" value="Remark" />
  <word ref="lngCPTel" value="Tel" />
  <word ref="lngCPCusName" value="Your name" />
  <word ref="lngCPTitle" value="Title" />
  <word ref="lngCPContent" value="Content" />
  <word ref="lngVerify" value="Verify" />
  <word ref="lngRefresh" value="Refresh" />
  <word ref="lngEmailLogin" value="Email Login" />
  <word ref="lngPass" value="Password" />
  <word ref="lnglogin" value="Login" />
  <word ref="lngReg" value="Register" />
  <word ref="lngUser" value="UserName" />
  <word ref="lngPassConfirm" value="Confirm Password" />
  <word ref="lngGender" value="Gender" />
  <word ref="lngLogOut" value="LogOut" />
  <word ref="lngUpdate" value="Update" />
  <!--Contact page-->
  <word ref="lngMenuConstruction" value="Construction" />
  
  
  
  
  
  <word ref="lngMenuTrading" value="Trading" />
  
  
  <word ref="lngMenuNewsCustomer" value="News &amp; Customer" />
  
  
  
  
  <word ref="lngMenuSale" value="Sales service" />
  <word ref="lngMenuContactUs" value="Contac Us" />
  <word ref="lngMenuContactUs02" value="Contact us for comments" />
  <!--Top menu page-->

  <!--Cart page-->
  <word ref="lngSTT" value="No." />
  <word ref="lngProductID" value="Product code" />
  <word ref="lngPrice" value="Price" />
  
  
  
  
  
  <word ref="lngCart1" value="CART" />
  <word ref="lngCartReturn" value="Back page" />
  
  <word ref="lngCartFinish" value="Finish" />
  <word ref="lngTotalAmountPayment" value="Total amount payment: " />
  <word ref="lngAlertCartEmpty" value="Your cart is empty, please select out product" />
  <word ref="lngPaymentFinishMsg" value="Thanks for payment, we will contact with you soon!" />
  <word ref="lngThanksContact" value="Thanks for you request, we will contact with you soon!" />
  <word ref="lngCartHaveProduct" value="Your cart have ({0}) product" />
  <word ref="lngCartEmpry" value="Your cart is empty (0)" />
  <word ref="lngCartpro" value="Cart ({0}) product" />
  <word ref="lngProductName" value="Product name" />
  <word ref="lngPrice" value="Price" />
  <word ref="lngQuato" value="Quantity" />
  <word ref="lngTotalAmount" value="Total amount" />
  <word ref="lngEdit" value="Edit" />
  <word ref="lngDelete" value="Delete" />
  <word ref="lngSave" value="Save" />
  <word ref="lngCancel" value="Cancel" />
  
  <word ref="lngCustomerInfo" value="Customer infomation" />
  <word ref="lngConfirmInfo" value="Confirm information" />
  
  <word ref="lngMsgInputName" value="Please input your name!" />
  <word ref="lngMsgInputEmail" value="Please input your email!" />
  <word ref="lngMsgEmailInvalid" value="Email is invalid!" />
  <word ref="lngMsgCodeInvalid" value="Code is invalid!" />

  <!--Cart page-->
  
  <!--start web-->
  <word ref="lngTitleVistic" value="Access Statistics" />
  <word ref="lngStatistics" value="Total number of visits" />
  <word ref="lngOnToday" value="Today" />
  <word ref="lngOnYesterday" value="Yesterday" />
  <word ref="lngOnWeek" value="Week" />
  <word ref="lngOnLastWeek" value="Last Week" />
  <word ref="lngonlineVistor" value="Online" />
  
  <!-- txt -->
  <word ref="lngMsLienHe" value="All requests please send email inquiries to us" />
  
  <word ref="lngKeySearch" value="Enter keywords" />
  <word ref="lngManyPro" value="Product selling" />
  <word ref="lngpolicy" value="Sales policy" />
  <word ref="lngpayment" value="Payment" />
  <word ref="lngwarranty" value="Warranty" />
  <word ref="lngfollow" value="Follow-up Belli Blossom on" />
  
  <word ref="lngPriceOf" value="Sale price" />
  
  
  <word ref="lngNewsCategory" value="News Category" />
  <word ref="lngtotalProduct" value="Total Product" />
  <word ref="lngNewsCompany" value="News company" />
  <word ref="lngSubContent" value="Short specifications" />
  <word ref="lngknowledge" value="Knowledge" />
  <word ref="lngDownload" value="Download" />
  
  <word ref="lngMale" value="Male" />
  <word ref="lngFemale" value="Female" />
  <word ref="lngLostPass" value="Lost Password" />
  <!-- txt -->
  <word ref="lngDate" value="Date" />
  <!--Common page-->
  
  <word ref="lngSameProduct" value="Product in this category" />
  
  
  <word ref="lngOther" value="Other News" />
  <word ref="lngBack" value="Back" />
  <word ref="lngOnline" value="Support Online" />
  
  
  
  
  <word ref="lngReset" value="Reset" />
  
  <word ref="lngEnglish" value="English" />
  <word ref="lngVietNam" value="Tiếng Việt" />
  <word ref="lngReadmore" value="Read more" />
  <word ref="lngSearchResult" value="Search result" />

  <word ref="lngPrice" value="Price" />
  <word ref="lngModel" value="Product code " />
  <word ref="lngQuatation" value="Quantity " />
  <word ref="lngDescription" value="Description " />
  <word ref="lngViewFullImage" value="View big image" />
  <word ref="lngWebLinkItem" value="--- Web link ---" />
  <word ref="lngSupportSkype" value="Support Skype" />
  <word ref="lngManufacture" value="Origin" />
  <word ref="lngStockStatus" value="Stock status" />
  
  <word ref="lblWantity" value="Wantity" />
  <word ref="lblMonth" value="month" />
  <!--Common page © -->
  <word ref="lblCopyRight" value="Copyright Binh Dinh Wood Corporation " />
  <word ref="lblName" value="Hop Danh Advisory Company Limited" />
  <word ref="lblReserved" value="Powered by" />
</language>


