<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PQT.DAC.Properties.Settings.Quanlynhansu_nkcn_2018ConnectionString"
            connectionString="Data Source=NGHIEPLT-KTHT;Initial Catalog=EmployeeData;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="PQT.DAC.Properties.Settings.EmployeeDataConnectionString"
            connectionString="Data Source=NGHIEPLT-KTHT;Initial Catalog=EmployeeData;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>