/*Telerik RadCalendar Hay skin*/

table.RadCalendar_Hay
{
	border-collapse:separate;
	border:0;
	background:#f3f3e2;
	font:11px arial,tahoma,sans-serif;
	width:224px;
}

/*titlebar*/

.RadCalendar_Hay .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#959485 #959485 #41a901;
	padding:0;
	background:#47b703 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#fff;
}

.RadCalendar_Hay .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	border-top:1px solid #9ad944;
	border-bottom:1px solid #52bd0c;
	font:13px/28px arial,tahoma,sans-serif;
}

.RadCalendar_Hay .rcTitlebar td
{
	border:0;
	border-top:1px solid #7dd12f;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Hay .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Hay .rcTitlebar .rcPrev,
.RadCalendar_Hay .rcTitlebar .rcNext,
.RadCalendar_Hay .rcTitlebar .rcFastPrev,
.RadCalendar_Hay .rcTitlebar .rcFastNext
{
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	margin:0 3px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Hay .rcTitlebar .rcPrev
{
	background-position:3px -48px;
}

.RadCalendar_Hay .rcTitlebar .rcNext
{
	background-position:4px -98px;
}

.RadCalendar_Hay .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:2px 2px;
}

.RadCalendar_Hay .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:2px -148px;
}

.RadCalendar_Hay .rcMain
{
	width:100%;
	border:1px solid #cac8ab;
	border-top:0;
	border-left-color:#cccaae;
	padding:0;
}

.RadCalendar_Hay .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:90%;
	margin:6px 12px 5px 10px;
	font:11px/16px arial,tahoma,sans-serif;
}

/*header, footer*/

.RadCalendar_Hay .rcHeader,
.RadCalendar_Hay .rcFooter
{
	border:1px solid #cac8ab;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Hay .rcRow th,
.RadCalendar_Hay .rcWeek th
{
	border:0;
	padding:0 6px;
	color:#47b100;
	font-weight:normal;
	cursor:default;
}

.RadCalendar_Hay .rcWeek th
{
	border-bottom:1px solid #c3c2a4;
	padding-top:4px;
	padding-bottom:3px;
	text-align:right;
}

.RadCalendar_Hay .rcRow th,
.RadCalendar_Hay .rcRow td
{
	vertical-align:middle;
}

.RadCalendar_Hay .rcWeek .rcViewSel,
.RadCalendar_Hay .rcRow th
{
	width:14px;
	padding-left:4px;
	text-align:center;
}

/*date cells*/

.RadCalendar_Hay .rcRow td
{
	border:1px solid #f3f3e2;
	padding:0;
	text-align:right;
}

.RadCalendar_Hay .rcMain .rcRow a,
.RadCalendar_Hay .rcMain .rcRow span
{
	display:block;
	padding:1px 5px;
	text-decoration:none;
	color:#272722;
}

.RadCalendar_Hay .rcMain .rcWeekend a
{
	color:#757566;
}

.RadCalendar_Hay .rcRow .rcToday
{
	background:#fff;
	border-color:#bbb894;
}

.RadCalendar_Hay .rcMain .rcOtherMonth a
{
	color:#9d9a87;
}

.RadCalendar_Hay .rcMain .rcOutOfRange span
{
	color:#9d9a87;
	cursor:default;
}

.RadCalendar_Hay .rcRow .rcHover
{
	border-color:#99cb58;
	background:#d6fabb url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendar_Hay .rcRow .rcSelected
{
	border-color:#787762 #5e5d4a #474533;
	background:#6b6a5f url('Calendar/sprite.gif') 0 -700px repeat-x;
}

.RadCalendar_Hay .rcMain .rcRow .rcSelected a
{
	border:1px solid;
	border-color:#b1af99 #999885 #7c7b6c;
	padding:0 4px;
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Hay
{
	width:auto;
}

.RadCalendarMultiView_Hay .rcCalendar
{
	width:224px;
	border:0;
	border-right:1px solid #c3c2a4;
	padding:0;
}

.RadCalendarMultiView_Hay .rcLastCol
{
	border-right:0;
}

.RadCalendarMultiView_Hay .rcCalendars .rcMainTable
{
	width:100%;
	margin:0;
}

.RadCalendarMultiView_Hay .rcCalendars .rcMainTable .rcMainTable
{
	width:90%;
	margin:3px 6px 3px;
}

.RadCalendarMultiView_Hay .rcCalendars .rcFirstRow .rcMainTable
{
	margin-top:4px;
}

.RadCalendarMultiView_Hay .rcCalendars .rcLastRow .rcMainTable
{
	margin-bottom:5px;
}

.RadCalendarMultiView_Hay .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c3c2a4;
	padding:1px 0 0;
	font:13px/27px arial,tahoma,sans-serif;
	color:#47b100;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Hay
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:10px verdana,tahoma,sans-serif;
	color:#272722;
}

.RadCalendarMonthView_Hay td
{
	border:0;
	padding:2px;
}

.RadCalendarMonthView_Hay #rcMView_Feb,
.RadCalendarMonthView_Hay #rcMView_Apr,
.RadCalendarMonthView_Hay #rcMView_Jun,
.RadCalendarMonthView_Hay #rcMView_Aug,
.RadCalendarMonthView_Hay #rcMView_Oct,
.RadCalendarMonthView_Hay #rcMView_Dec
{
	border-right:1px solid #cac8ab;
}

.RadCalendarMonthView_Hay a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#707070;
}

.RadCalendarMonthView_Hay .rcHover a
{
	border:1px solid #99cb58;
	padding:1px 3px;
	background:#d6fabb url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendarMonthView_Hay .rcSelected a
{
	border:1px solid;
	border-color:#787762 #5e5d4a #474533;
	padding:1px 3px;
	background:#6b6a5f url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarMonthView_Hay .rcButtons
{
	border:0;
	border-top:1px solid #cac8ab;
	padding:0.5em 0.6em;
	background:#f3f3e2;
	text-align:center;
}

.RadCalendarMonthView_Hay input
{
	border:1px solid;
	border-color:#52b50c #47a509 #3b9205;
	padding:0;
	background:#47b703 url('Calendar/sprite.gif') 0 -800px repeat-x;
	color:#fff;
	font:10px verdana,arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Hay #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Hay #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Hay
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:11px arial,tahoma,sans-serif;
	color:#272722;
}

.RadCalendarTimeView_Hay th
{
	border:0;
	border-top:1px solid #9ad944;
	border-bottom:1px solid #41a901;
	padding:0 0 2px;
	background:#47b703 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#fff;
	font:13px/29px arial,tahoma,sans-serif;
	text-align:center;
	cursor:default;
}

.RadCalendarTimeView_Hay td
{
	border:0;
	border-left:1px solid #cac8ab;
	padding:1px 2px;
}

.RadCalendarTimeView_Hay td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Hay a
{
	display:block;
	padding:5px 7px;
	text-align:center;
	color:#272722;
	text-decoration:none;
}

.RadCalendarTimeView_Hay td.rcHover a
{
	border:1px solid #99cb58;
	padding:4px 6px;
	background:#d6fabb url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendarTimeView_Hay td.rcSelected a
{
	border:1px solid;
	border-color:#787762 #5e5d4a #474533;
	padding:4px 6px;
	background:#6b6a5f url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarTimeView_Hay .rcFooter
{
	border:0;
	border-top:1px solid #cac8ab;
	padding:0;
}

/*pickers*/

.RadPicker_Hay
{
	vertical-align:middle;
}

.RadPicker_Hay table.rcTable,
.RadPicker_Hay table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Hay td
{
	vertical-align:middle;
}

.RadPicker_Hay table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Hay td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Hay td a{position:static}/*IE6*/
*+html .RadPicker_Hay td a{position:static}/*IE7*/

.RadPicker_Hay .rcCalPopup,
.RadPicker_Hay .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:16px;
	height:16px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Hay .rcCalPopup,
.RadPicker_Hay .rcDisabled.rcCalPopup:hover
{
	background-position:0 -200px;
}

.RadPicker_Hay .rcCalPopup:hover
{
	background-position:0 -250px;
}

.RadPicker_Hay .rcTimePopup,
.RadPicker_Hay .rcDisabled.rcTimePopup:hover
{
	background-position:0 -300px;
}

.RadPicker_Hay .rcTimePopup:hover
{
	background-position:0 -350px;
}

.RadPicker_Hay .rcDisabled,
.RadCalendarMonthView_Hay .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Hay .rcTitlebar table
{
	direction:ltr;
}

.RadCalendarRTL_Hay .rcTitle
{
	direction:rtl;
}