<?xml version="1.0" encoding="utf-8" ?>
<language>
<!-- page -->
  <word ref="lngNights" value="đêm" />
  <word ref="lngDays" value="ngày" />
  <word ref="lngCustomerInfo" value="Thông tin khách hàng" />
  <word ref="lngConfirmInfo" value="Xác nhận thông tin" />
  <word ref="lngChangePass" value="Thay đổi mật khẩu" />
  <word ref="lngHistoryOrder" value="Xem các đơn hàng đã mua" />
  <word ref="lngYourOrder" value="Đơn hàng của bạn" />
  <word ref="lngOrderEmpty" value="Bạn chưa có đơn hàng nào" />
  <word ref="lngTotalAmountOrder" value="Tổng tiển" />
  <word ref="lngOrderID" value="Mã đơn hàng" />
  <word ref="lngRecevie" value="Người nhận/SĐT/Địa Chỉ" />
  <word ref="lngStatus" value="Trạng thái" />
  <word ref="lngPaymentMethod" value="HTTT" />
  <word ref="lngDateBought" value="Ngày mua" />

  <word ref="lngRegAcc" value="Đăng kí tài khoản mua hàng" />
  
  <word ref="lngLostPass" value="Quên mật khẩu" />
  <word ref="lngCodeSecret" value="Mã xác nhận" />
  <word ref="lngUserNotReg" value="Thành viên chưa được kích hoạt" />
  <word ref="lngUserNameInvalid" value="Tên đăng nhập không tồn tại" />
  <word ref="lngOldPass" value="Mật khẩu cũ" />
  <word ref="lngNewPass" value="Mật khẩu mới" />
  <word ref="lngHasAccount" value="Đã có tài khoản?" />
  <word ref="lngNotHasAccount" value="Chưa có tài khoản?" />
  <word ref="lngRegAccount" value="Đăng ký tài khoản" />
  <word ref="lngMenuNewsbest" value="Tin tức nổi bật" />
  <word ref="lngaboutus" value="Về chúng tôi" />
  <word ref="lngShowall" value="Tất cả" />
<word ref="lngMenuHome" value="Trang chủ" />
<word ref="lngMenuLinhVuc" value="Lĩnh vực hoạt động" />
<word ref="lngDatePosted" value="Ngày đăng" />
<word ref="lngMenuTypicalProduct" value="Sản phẩm tiêu biểu" />
<word ref="lngMenuEquipment" value="Thiết bị" />
  <word ref="lngAddToCart" value="Thêm vào giỏ hàng" />
<word ref="lngAgent" value="Đại lý" />
<word ref="lngShow" value="Hiển thị" />
<word ref="lngHide" value="Thu gọn" />
<word ref="lngMenuAbout" value="Giới thiệu" />
<word ref="lngMenuPhotos" value="Hình ảnh hoạt động" />
<word ref="lngMenuHealth" value="Lộc nhung-sức khỏe" />
<word ref="lngMenuWorks" value="Công trình" />
<word ref="lngMenuDichVu" value="DỊCH VỤ" />
<word ref="lngProject" value="Dự án" />
<word ref="lngMenuProduct" value="Sản phẩm" />
<word ref="lngMenuLanguage" value="Ngôn ngữ" />
<word ref="lngTechnicalCorner" value="Góc kỹ thuật" />
<word ref="lngMenuNews" value="Tin tức" />
<word ref="lngMenuDistributionSystem" value="Hệ thống phân phối" />
<word ref="lngCountry" value="Quốc gia" />
<word ref="lngCty" value="Thành phố" />
<word ref="lngMenuContact" value="Liên hệ" />
<word ref="lngContactUS" value="Liên hệ với chúng tôi" />
<word ref="lngListProduct" value="Danh mục sản phẩm" />
<word ref="lngNewProduct" value="Sản phẩm mới" />
<word ref="lngRelatedProducts" value="Sản phẩm liên quan" />
<word ref="lngPartners" value="Đối tác" />
<word ref="lngProjectFeatured" value="Công trình tiêu biểu" />
<word ref="lngPriceCall" value="Liên hệ" />
<word ref="lngProductDetail" value="Chi tiết sản phẩm" />
<word ref="lngProductCode" value="Mã sản phẩm" />
<word ref="lngProductSize" value="Kích thước" />
<word ref="lngPriceEN" value="Giá" />
<word ref="lngProductDescription" value="Mô tả" />
<word ref="lngDetail" value="Chi tiết" />
<word ref="lngOrder" value="Đặt hàng" />
<word ref="lngotherproducts" value="Sản phẩm khác" />
<word ref="lngCart" value="Giỏ hàng" />
<word ref="lngCartPayment" value="Thanh toán" />
<word ref="lngBuy" value="Mua hàng" />
<word ref="lngSend" value="Gửi" />
<word ref="lngPriceOld" value="Giá cũ" />
<word ref="lngSocialNetworks" value="Mạng xã hội" />
<word ref="lngHealthHandbook" value="Cẩm nang sức khỏe" />
<word ref="lngSendQuestions" value="Gửi câu hỏi" />
<word ref="lngShowAnswer" value="Hiện trả lời" />
<word ref="lngClose" value="Đóng lại" />
<word ref="lngQuyCach" value="Quy cách" />
<word ref="lngPersonnelPolicy" value="Chính sách nhân sự" />
<word ref="lngRecruitmentProcess" value="Quy trình tuyển dụng" />
<word ref="lngRecruitmentInfo" value="Thông tin tuyển dụng" />
<word ref="lngNoteNewsletter" value="Đăng ký đễ nhận thông tin sức khỏe" />
<word ref="lngInfoAgentIn" value="Thông tin đại lý ở" />
<!-- -->
<word ref="lngUniquePro" value="Sản phẩm độc đáo" />
<!-- -->
<word ref="lngProDetail" value="Nội dung sản phẩm" />
<word ref="lngNoiTro" value="Góc nội trợ" />


  <word ref="lngAdminName" value="Bộ phận tư vấn trả lời" />
	<word ref="lngTuVan" value="Tư vấn" />
	<word ref="lngCongTrinhSuDung" value="Công trình dùng sơn Kihazafa" />
	<word ref="lngTitleMale" value="Chức vị" />
	<word ref="lngMethodContact" value="Hình thức liên hệ" />
	<word ref="lngPhone" value="Điện thoại" />
	<word ref="lngComment02" value="Gửi ý kiến của bạn" />
	<word ref="lngQtrinh" value="Xem quy trình, tính năng sản phẩm" />
  <word ref="lngFrom" value="Gửi từ" />
  <word ref="lngTraloi" value="Trả lời" />
  <word ref="lngTraloiComment" value="Trả lời tư vấn" />
  <word ref="lngTraloiNewComment" value="Gửi ý kiến mới" />
  
  <word ref="lngSendDate" value="Ngày gửi" />
  
  
  <word ref="lngCategory" value="Danh mục" />
  
  <word ref="lngNewsLetter" value="Đăng ký nhận mail" />
  <word ref="lngViewMore" value="Xem thêm" />
  <word ref="lngDeployment" value="Tin triển khai" />
  <word ref="lngTechnology" value="Tin công nghệ" />
  <word ref="lngOperation" value="Hoạt động cộng đồng" />
  <word ref="lngCustomerReview" value="Ý kiến khách hàng" />
  
  <word ref="lngPriceAppraisal" value="Định giá" />
  <word ref="lngYourInfo" value="Thông tin người gửi" />
  <word ref="lngYourProduct" value="Sản phẩm" />
  <word ref="lngProductPicture" value="Hình sản phẩm" />
  
  <word ref="lngProductAvailabity" value="Availabity" />
  <word ref="lngProductReturnsPolicy" value="Returns Policy" />
  <word ref="lngProductWatchfinderWarranty" value="Watchfinder Warranty" />
  <word ref="lngProductRetailPrice" value="Retail Price" />
  
  
  <word ref="lngProductIDEN" value="Product code" />
  <word ref="lngProductWas" value="Was" />
  
  
  <!--
  <word ref="lngProductBox" value="Hộp" />
  <word ref="lngProductPapers" value="Giấy tờ" />
  <word ref="lngProductWarranty" value="Bảo hành" />
  <word ref="lngProductAvailabity" value="Có sẵn" />
  <word ref="lngProductReturnsPolicy" value="Chính sách" />
  <word ref="lngProductWatchfinderWarranty" value="Watchfinder Warranty" />
  <word ref="lngProductRetailPrice" value="Giá bán lẻ" />
  <word ref="lngProductSaving" value="Tiết kiệm" />-->
  
  <word ref="lngChooseFile" value="Chọn tập tin" />
  <word ref="lngUpload" value="Tải lên" />
  <word ref="lngMoreInfomation" value="Thông tin chi tiết" />
  <word ref="lngRefineby" value="Lọc theo" />
  <word ref="lngShowingItems" value="Hiển thị" />
  <word ref="lngOf" value="Của" />
  <!--menu-->
  <word ref="lngNewsAndEvent" value="Tin tức &amp; sự kiện" />
  <word ref="lngInternalNews" value="Tin nội bộ" />
  <word ref="lngSpecializedNews" value="Tin chuyên ngành" />
  <word ref="lngMenuGallery" value="Gallery ảnh" />
  <word ref="lngmaterial" value="Chất liệu" />
  <word ref="lngtype" value="Kiểu dáng" />
  
  <word ref="lngNotification" value="Thông báo" />
  
  
  <word ref="lngPartner" value="Đối tác" />
  <word ref="lngMenuCareer" value="Tuyển dụng" />
  
  <word ref="lngMenuService" value="Dịch vụ" />
  <word ref="lngMenuServiceOther" value="Dịch vụ khác" />
  
  <word ref="lngQualityCertificates" value="Chứng chỉ chất lượng" />
  
  <word ref="lngSpecialProduct" value="Sản phẩm đặc biệt" />
  
  <word ref="lngMenuSolution" value="Giải pháp" />
  <word ref="lngCustomer" value="Khách hàng" />
  
  <word ref="lngWebLink" value="Liên kết web" />
  <word ref="lngOther" value="Tin tức khác" />
  <word ref="lngNewsTop" value="Tin tức mới" />
  <!---->
  <word ref="lngMenuSupport" value="Hỗ trợ trực tuyến" />
  <word ref="lngHotLine" value="Hotlines" />
  <word ref="lngFormContact" value="Form liên hệ" />
  <word ref="lngProjectOther" value="Công trình khác" />
  <word ref="lngSupport" value="Hỗ trợ" />
  <word ref="lngMenuDistribution" value="Hệ thống phân phối" />
  <word ref="lngMenuRepair" value="Bảo trì - sửa chữa" />
  <word ref="lngMenuCare" value="Chăm sóc khách hàng" />
  <word ref="lngSiteMap" value="Sơ đồ Site" />
  
  
  <word ref="lngSearch" value="Kết quả tìm kiếm" />
  <word ref="lngProvince" value="Tỉnh/Thành" />
  <word ref="lngCode" value="Mã số" />
  <word ref="lngPricePro" value="Giá bán" />
  <word ref="lngVideo" value="Video Clip" />
  <!---->
  
  <word ref="lngMenu" value="Danh mục" />
  
  
  <word ref="lngEvent" value="Sự kiện" />
  <word ref="lngSupportCustomer" value="Tư vấn khách hàng" />
  
  <word ref="lngMenuFAQ" value="Diễn đàn" />
  
  <word ref="lngMenuAboutUs" value="Lời chào" />
  <word ref="lngMenuMap" value="Chỉ dẫn đường đi" />
  <word ref="lngHistory" value="Lịch sử hình thành" />
  <word ref="lngBusiness" value="Lĩnh vực kinh doanh" />
  
  <word ref="lngAD" value="Quảng cáo" />
  <word ref="lngCatalogue" value="Catalogue" />
  <word ref="lngMaintenance" value="Hướng dẫn và tiếp nhận đăng ký A/S" />
  
  <word ref="lngIntructionOrder" value="Hướng dẫn đặt hàng" />
  <word ref="lngMenuDownload" value="Tải tài liệu" />
  <word ref="lngSubscribeCatalogue" value="Đăng ký nhận catalogue" />
  <word ref="lngFAQ" value="Hỏi đáp" />
  <word ref="lngComment" value="Nội dung" />
  <word ref="lngHomeInterior" value="Nội thất gia đình" />
  <word ref="lngOfficeInterior" value="Nội thất văn phòng" />
  
  
  <word ref="lngSupplier" value="Nhà cung cấp" />
  <!--Contact page-->
  <word ref="lngFullname" value="Họ và tên" />
  <word ref="lngFirstName" value="Tên" />
  <word ref="lngLastName" value="Họ" />
  <word ref="lngCompany" value="Công ty" />
  <word ref="lngTel" value="Điện thoại" />
  <word ref="lngAddress" value="Địa chỉ" />
  <word ref="lngRemark" value="Ghi chú" />
	<word ref="lngCPTel" value="Điện thoại" />
	<word ref="lngCPCusName" value="Tên bạn" />
	<word ref="lngCPTitle" value="Tiêu đề" />
	<word ref="lngCPContent" value="Nội dung" />
  <word ref="lngVerify" value="Xác nhận" />
  <word ref="lngRefresh" value="Đổi hình" />
  <word ref="lngEmailLogin" value="Email đăng nhập" />
  <word ref="lngPass" value="Mật khẩu" />
  <word ref="lngWrongPass" value="Mật khẩu không đúng" />
  <word ref="lnglogin" value="Đăng nhập" />
  <word ref="lngReg" value="Đăng ký" />
  <word ref="lngUser" value="Tên đăng nhập" />
  <word ref="lngPassConfirm" value="Xác nhận mật khẩu" />
  <word ref="lngGender" value="Giới tính" />
  <word ref="lngLogOut" value="Thoát" />
  <word ref="lngifon" value="Thông tin tài khoản" />
  <word ref="lngUpdate" value="Cập nhật" />
  <!--Contact page-->
	<word ref="lngMenuConstruction" value="Thi công" />
	<word ref="lngMenuTrading" value="Thương mại" />
  <word ref="lngMenuNewsCustomer" value="Tin tức &amp; khách hàng" />
	
  
  
  <word ref="lngMenuSale" value="Dịch vụ bán hàng" />
  <word ref="lngMenuContactUs" value="Thông tin liên hệ" />
  <word ref="lngMenuContactUs02" value="Liên hệ, góp ý" />
  <!--Top menu page-->

  <!--Cart page-->
  <word ref="lngSTT" value="STT" />
  <word ref="lngPrice" value="Giá" />
  <word ref="lngProductID" value="Mã SP" />


  <word ref="lngformcontacts" value="Gửi yêu cầu" />
  
  
  <word ref="lngCart1" value="GIỎ HÀNG" />
  <word ref="lngCartReturn" value="Quay lại" />
  <word ref="lngCartFinish" value="Hoàn tất" />
  
  <word ref="lngTotalAmountPayment" value="Tổng tiển thanh toán: " />
  <word ref="lngAlertCartEmpty" value="Giỏ hàng của quý khách hiện đang trống, xin vui lòng chọn mua các sản phẩm của chúng tôi" />
  <word ref="lngPaymentFinishMsg" value="Cảm ơn bạn đã đặt hàng công ty chúng tôi, chúng tôi sẽ sớm liên lạc với bạn" />
  <word ref="lngThanksContact" value="Cảm ơn bạn đã gửi yêu cầu đến chúng tôi, chúng tôi sẽ sớm liên lạc với bạn" />
  <word ref="lngCartHaveProduct" value="Giỏ hàng của bạn hiện có ({0}) sản phẩm" />
  <word ref="lngCartEmpry" value="Giỏ hàng của bạn hiện đang trống (0)" />
  <word ref="lngCartpro" value="Giỏ hàng ({0}) sản phẩm" />
  <word ref="lngProductName" value="Tên SP" />
  <word ref="lngPrice" value="Giá" />
  <word ref="lngQuato" value="Số lượng" />
  <word ref="lngTotalAmount" value="Thành tiền" />
  <word ref="lngEdit" value="Sửa" />
  <word ref="lngDelete" value="Xóa" />
  <word ref="lngSave" value="Lưu" />
  <word ref="lngCancel" value="Hủy" />
  
  <word ref="lngCustomerInfo" value="Thông tin khách hàng" />
  <word ref="lngConfirmInfo" value="Xác nhận thông tin" />
  
  
  <word ref="lngMsgInputName" value="Vui lòng nhập tên của bạn!" />
  <word ref="lngMsgInputEmail" value="Vui lòng nhập email!" />
  <word ref="lngMsgEmailInvalid" value="Email không đúng!" />
  <word ref="lngMsgCodeInvalid" value="Mã bảo vệ không đúng!" />
  <word ref="lngMsgthanksemail" value="Đăng ký nhận email thành công !" />
  
  <!--Cart page-->
  
  <!--start web-->
  <word ref="lngTitleVistic" value="Thống kê truy cập" />
  <word ref="lngStatistics" value="Tổng lượt truy cập" />
  <word ref="lngOnToday" value="Hôm nay" />
  <word ref="lngOnYesterday" value="Hôm qua" />
  <word ref="lngOnWeek" value="Tuần này" />
  <word ref="lngOnLastWeek" value="Tuần trước" />
  <word ref="lngonlineVistor" value="Đang online" />
  
  <!-- txt -->
  <word ref="lngKeySearch" value="Nhập từ khóa" />
  <word ref="lngDate" value="Ngày" />
  <word ref="lngManyPro" value="Sản phẩm bán chạy" />
  <word ref="lngpolicy" value="Chính sách bán hàng" />
  <word ref="lngpayment" value="Hình thức thanh toán" />
  <word ref="lngwarranty" value="Chế độ bảo hành" />
  
  
  <word ref="lngPriceOf" value="Giá khuyến mãi" />
  
  
  <word ref="lngtotalProduct" value="Tổng sản phẩm" />
  <word ref="lngNewsCategory" value="Danh mục tin tức" />
  <word ref="lngNewsCompany" value="Tin công ty" />
  <word ref="lngSubContent" value="Thông tin tóm tắt" />
  <word ref="lngknowledge" value="Kiến thức" />
  <word ref="lngDownload" value="Tải về" />
  
  
  <word ref="lngMale" value="Nam" />
  <word ref="lngFemale" value="Nữ" />
  <word ref="lngLostPass" value="Quên mật khẩu" />
  <!-- txt -->
  <word ref="lngMsLienHe" value="Khách hàng vui lòng điền đầy đủ thông tin bên dưới để gửi đến chúng tôi!" />
  <!--Common page-->

  
	<word ref="lngSameProduct" value="Sản phẩm cùng loại" />
  
	
	<word ref="lngBack" value="Trở lại" />
	
	<word ref="lngOnline" value="Hỗ trợ trực tuyến" />

	
	
	
  <word ref="lngReset" value="Làm lại" />
  
  <word ref="lngEnglish" value="English" />
  <word ref="lngVietNam" value="Tiếng Việt"/>
  <word ref="lngReadmore" value="Xem thêm" />
  <word ref="lngSearchResult" value="Kết quả tìm kiếm" />
  
  <word ref="lngPrice" value="Giá" />
  <word ref="lngModel" value="MSP" />
  <word ref="lngQuatation" value="Số lượng " />
  <word ref="lngDescription" value="Mô tả " />
  <word ref="lngViewFullImage" value="Xem hình lớn" />
  <word ref="lngWebLinkItem" value="--- Liên kết web ---" />
  <word ref="lngSupportSkype" value="Hỗ trợ Skype" />
  <word ref="lngManufacture" value="Xuất xứ" />
  <word ref="lngStockStatus" value="Trạng thái kho" />
  
  <word ref="lblWantity" value="Bảo hành" />
  <word ref="lblMonth" value="tháng" />
  <!--Common page ©-->
  <word ref="lblCopyRight" value="Bản quyền thuộc về Binh Dinh Wood Corporation" />
  <word ref="lblName" value="Công Ty TNHH Tư Vấn Hợp Danh" />
  <word ref="lblReserved" value="Thiết kế và phát triển bởi" />
  <!--All Rights Reserved-->
</language>
