/*Telerik RadCalendar Gray skin*/

table.RadCalendar_Gray
{
	border-collapse:separate;
	border:0;
	background:#fff;
	font:11px arial,tahoma,sans-serif;
	width:224px;
}

/*titlebar*/

.RadCalendar_Gray .rcTitlebar
{
	width:100%;
	border:1px solid #828282;
	padding:0;
	background:#e4e4e4 url('Calendar/sprite.gif') 0 -500px repeat-x;
	color:#333;
}

.RadCalendar_Gray .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:14px/29px arial,tahoma,sans-serif;
}

.RadCalendar_Gray .rcTitlebar td
{
	border:0;
	padding:0;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Gray .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Gray .rcTitlebar .rcPrev,
.RadCalendar_Gray .rcTitlebar .rcNext,
.RadCalendar_Gray .rcTitlebar .rcFastPrev,
.RadCalendar_Gray .rcTitlebar .rcFastNext
{
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	margin:0 3px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Gray .rcTitlebar .rcPrev
{
	background-position:3px -48px;
}

.RadCalendar_Gray .rcTitlebar .rcNext
{
	background-position:4px -98px;
}

.RadCalendar_Gray .rcTitlebar .rcFastPrev
{
	margin-left:7px;
	background-position:2px 2px;
}

.RadCalendar_Gray .rcTitlebar .rcFastNext
{
	margin-right:7px;
	background-position:2px -148px;
}

.RadCalendar_Gray .rcMain
{
	width:100%;
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

.RadCalendar_Gray .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:90%;
	margin:6px 12px 10px 10px;
	font:11px/15px arial,tahoma,sans-serif;
}

/*header, footer*/

.RadCalendar_Gray .rcHeader,
.RadCalendar_Gray .rcFooter
{
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Gray .rcRow th,
.RadCalendar_Gray .rcWeek th
{
	border:0;
	padding:0 6px;
	color:#333;
	font-weight:normal;
	cursor:default;
}

.RadCalendar_Gray .rcWeek th
{
	border-bottom:1px solid #828282;
	padding-top:4px;
	padding-bottom:3px;
	font-size:10px;
	text-align:right;
}

.RadCalendar_Gray .rcRow th,
.RadCalendar_Gray .rcRow td
{
	vertical-align:middle;
}

.RadCalendar_Gray .rcWeek .rcViewSel,
.RadCalendar_Gray .rcRow th
{
	width:14px;
	padding-left:4px;
	text-align:center;
}

/*date cells*/

.RadCalendar_Gray .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
}

.RadCalendar_Gray .rcMain .rcRow a,
.RadCalendar_Gray .rcMain .rcRow span
{
	display:block;
	padding:1px 5px;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Gray .rcMain .rcWeekend a
{
	color:#777;
}

.RadCalendar_Gray .rcRow .rcToday
{
	background:#fff;
	border-color:#898989;
}

.RadCalendar_Gray .rcMain .rcOtherMonth a
{
	color:#ccc;
}

.RadCalendar_Gray .rcMain .rcOutOfRange span
{
	color:#ccc;
	cursor:default;
}

.RadCalendar_Gray .rcRow .rcHover
{
	border-color:#a5a5a5 #888 #6c6c6c;
	background:#aeaeae url('Calendar/sprite.gif') 0 -600px repeat-x;
}

.RadCalendar_Gray .rcMain .rcRow .rcHover a
{
	border:1px solid;
	border-color:#ececec #d6d6d6 #c2c2c2;
	padding:0 4px;
	color:#000;
}

.RadCalendar_Gray .rcRow .rcSelected
{
	border-color:#747474 #666 #505050;
	background:#999 url('Calendar/sprite.gif') 0 -700px repeat-x;
}

.RadCalendar_Gray .rcMain .rcRow .rcSelected a
{
	border:1px solid;
	border-color:#cacaca #b8b8b8 #a6a6a6;
	padding:0 4px;
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Gray
{
	width:auto;
}

.RadCalendarMultiView_Gray .rcCalendar
{
	width:224px;
	border:0;
	padding:0;
}

.RadCalendarMultiView_Gray .rcCalendars .rcMainTable
{
	width:100%;
	margin:0;
}

.RadCalendarMultiView_Gray .rcCalendars .rcMainTable .rcMainTable
{
	width:88%;
	margin:3px 11px 2px;
}

.RadCalendarMultiView_Gray .rcCalendars .rcMainTable .rcLastRow .rcMainTable
{
	margin-bottom:11px;
}

.RadCalendarMultiView_Gray .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #828282;
	padding:3px 0 0;
	font:12px/22px arial,tahoma,sans-serif;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Gray
{
	border-collapse:separate;
	border:1px solid #828282;
	background:#fff;
	font:10px verdana,tahoma,sans-serif;
	color:#333;
}

.RadCalendarMonthView_Gray td
{
	border:0;
	padding:2px;
}

.RadCalendarMonthView_Gray #rcMView_Feb,
.RadCalendarMonthView_Gray #rcMView_Apr,
.RadCalendarMonthView_Gray #rcMView_Jun,
.RadCalendarMonthView_Gray #rcMView_Aug,
.RadCalendarMonthView_Gray #rcMView_Oct,
.RadCalendarMonthView_Gray #rcMView_Dec
{
	border-right:1px solid #828282;
}

.RadCalendarMonthView_Gray a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Gray .rcHover a
{
	border:1px solid;
	border-color:#a5a5a5 #888 #6c6c6c;
	padding:1px 3px;
	background:#aeaeae url('Calendar/sprite.gif') 0 -600px repeat-x;
	color:#000;
}

.RadCalendarMonthView_Gray .rcSelected a
{
	border:1px solid;
	border-color:#747474 #666 #505050;
	padding:1px 3px;
	background:#999 url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarMonthView_Gray .rcButtons
{
	border:0;
	border-top:1px solid #ececec;
	padding:4px 6px;
	background:#ececec;
	text-align:center;
}

.RadCalendarMonthView_Gray input
{
	border:1px solid;
	border-color:#a7a7a7 #a7a7a7 #7b7b7b;
	padding:0;
	background:#f3f3f3 url('Calendar/sprite.gif') 0 -800px repeat-x;
	color:#333;
	font:10px verdana,arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Gray #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Gray #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Gray
{
	border-collapse:separate;
	border:1px solid #828282;
	background:#fff;
	font:11px arial,tahoma,sans-serif;
	color:#333;
}

.RadCalendarTimeView_Gray th
{
	border:0;
	border-bottom:1px solid #ececec;
	padding:0;
	background:#ececec;
	color:#000;
	font:11px/26px arial,tahoma,sans-serif;
	text-align:center;
	cursor:default;
}

.RadCalendarTimeView_Gray td
{
	border:0;
	border-left:1px solid #828282;
	padding:0;
}

.RadCalendarTimeView_Gray td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Gray a
{
	display:block;
	padding:6px 6px 5px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Gray td.rcHover a
{
	border:1px solid;
	border-color:#a5a5a5 #888 #6c6c6c;
	padding:5px 5px 4px;
	background:#aeaeae url('Calendar/sprite.gif') 0 -600px repeat-x;
	color:#000;
}

.RadCalendarTimeView_Gray td.rcSelected a
{
	border:1px solid;
	border-color:#747474 #666 #505050;
	padding:5px 5px 4px;
	background:#999 url('Calendar/sprite.gif') 0 -700px repeat-x;
	color:#fff;
}

.RadCalendarTimeView_Gray .rcFooter
{
	border:0;
	border-top:1px solid #828282;
	padding:0;
}

/*pickers*/

.RadPicker_Gray
{
	vertical-align:middle;
}

.RadPicker_Gray table.rcTable,
.RadPicker_Gray table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Gray td
{
	vertical-align:middle;
}

.RadPicker_Gray table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Gray td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Gray td a{position:static}/*IE6*/
*+html .RadPicker_Gray td a{position:static}/*IE7*/

.RadPicker_Gray .rcCalPopup,
.RadPicker_Gray .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:16px;
	height:16px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Gray .rcCalPopup,
.RadPicker_Gray .rcDisabled.rcCalPopup:hover
{
	background-position:0 -200px;
}

.RadPicker_Gray .rcCalPopup:hover
{
	background-position:0 -250px;
}

.RadPicker_Gray .rcTimePopup,
.RadPicker_Gray .rcDisabled.rcTimePopup:hover
{
	background-position:0 -300px;
}

.RadPicker_Gray .rcTimePopup:hover
{
	background-position:0 -350px;
}

.RadPicker_Gray .rcDisabled,
.RadCalendarMonthView_Gray .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Gray .rcTitlebar table
{
	direction:ltr;
}

.RadCalendarRTL_Gray .rcTitle
{
	direction:rtl;
}