/************************************************************************************************************
    FRAMEWORK [fw]
*************************************************************************************************************/ 

.fwRoot /* Root node in frontend framework. Same as [SiteContainer] in dashboard v4. */
	{
	}
	
/************************************************************************************************************
    FW: HEADER
*************************************************************************************************************/ 

.fwHeader
	{
	}
	
	
/************************************************************************************************************
    FW: MENU container
*************************************************************************************************************/ 
/* Styles for menu container only. Menu specific styles are found inside their own CSS file. */
.fwMenu
	{
	}	
	
/************************************************************************************************************
    FW: CRUMBS container
*************************************************************************************************************/ 
/* Styles for crumbs container only. Menu specific styles are found inside their own CSS file. */
.fwCrumbs
	{
	}

/************************************************************************************************************
    FW: CONTENT
*************************************************************************************************************/ 
	
.fwContent
	{
	}	

/************************************************************************************************************
    FW: FOOTER
*************************************************************************************************************/ 
	
.fwFooter
	{
	}
	
/************************************************************************************************************
    FW: SIGNATURE
*************************************************************************************************************/ 
/* Your (developer/company) signature :) */	
.fwSignature
	{
		display:block;
		font-size:0.8em;
	}