/************************************************************************************************************
    gui: LOGIN
*************************************************************************************************************/   
#guiLogin_start
    {
        margin:15% auto;
    }

.guiLogin
    {
        width:336px;
        border:solid 1px #909091;
        background-color:#ffffff;
    }
    .guiLogin .Header
        {
        	background-image:url('images/guiLogin_logo.png');
        	background-position:left top;
        	background-repeat:no-repeat;
        	width:336px;
        	height:82px;
        }
    .guiLogin .Content
        {
            padding-bottom:24px;
        }
        .guiLogin .Content table
            {
                margin:0px auto;
            }
            
/************************************************************************************************************
    BOXES
*************************************************************************************************************/

		

/************************************************************************************************************
    COLUMNS
*************************************************************************************************************/		

.Columns
	{		
	}
	.Columns .Column-01
		{
			float:left;
			width:95%;
		}
	/*.Columns .Column-02
		{
			float:right;
			width:49%;
		}*/