.accountInfo
{
    float:left;
    text-align:left;
}

.login
{
    text-align:left;
}

.login p
{
    padding-left: 50px;
}

.tdLeft
{
    width:200px;
    text-align:right;
}

.tdRight
{
    text-align:left;
}

.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}
.loginoptions
{
    text-align:left;
    padding-left:80px;
}